{% extends 'index.html' %}
{% load InterToTime %}
{% load static %}


{% block content %}



	<section class="mn-sec">
		<div class="container">
			<div class="row">
				<div class="col-lg-9">
					<div class="mn-vid-sc single_video">
						<div class="vid-1">
							<div class="vid-pr">
							<div class="embed-responsive embed-responsive-16by9">
  								<iframe class="embed-responsive-item" src={{video.video.url}} allowfullscreen id="frame"></iframe>
							</div>
							</div><!--vid-pr end-->
							<div class="vid-info">
								<h3>{{ video.nom }}</h3>
								<div class="info-pr">
									<span>{{video.user_vue | length }} views</span>
									<ul class="pr_links">
										<li id="like_button">
											<button data-toggle="tooltip" data-placement="top" title="I like this">
												<i class="icon-thumbs_up_fill"></i>
											</button>
											<span id="like">{{ video.user_like.all | length }}</span>
										</li>
										<li id="dislike_button">
											<button data-toggle="tooltip" data-placement="top" title="I dislike this">
												<i class="icon-thumbs_down_fill"></i>
											</button>
											<span id="dislike">28K</span>
										</li>
									</ul>
									<div class="clearfix"></div>
								</div><!--info-pr end-->
							</div><!--vid-info end-->
						</div><!--vid-1 end-->
						<div class="abt-mk">
							<div class="info-pr-sec">
								<div class="vcp_inf cr">
									<div class="vc_hd">
										<img src="{{ video.owner.profilePicture.url }}" alt="">
									</div>
									<div class="vc_info pr">
										<h4><a href="#" title="" id="username">{{ video.owner.username }}</a></h4>
										<span>Published on {{ video.date }}</span>
									</div>
								</div><!--vcp_inf end-->							
								<ul class="chan_cantrz">
									<li>
										<a href="" title="" class="subscribe" id="subscribe">Subscribe <strong id="subscriber_count">{{ video.owner.abonne.all | length }}</strong></a>
									</li>
								</ul><!--chan_cantrz end-->
								<ul class="df-list">
									<li>
										<button data-toggle="tooltip" data-placement="top" title="Add to playlist">
											<i class="icon-add_to_playlist"></i>
										</button>
									</li>
								</ul><!--df-list end-->
								<div class="clearfix"></div>
							</div>
							<div class="clearfix"></div>
							<div class="about-ch-sec">
								
								<div class="abt-rw">
									<h4>Description : </h4>
									<p> {{ video.description }} </p>
								</div>
								
							</div><!--about-ch-sec end-->
						</div><!--abt-mk end-->
						<div class="cmt-bx">
							<ul class="cmt-pr">
								<li><span>{{ video.commenter_set.all | length }}</span> Comments</li>
							</ul>
							<div class="clearfix"></div>
							<div class="clearfix"></div>
							<div class="vcp_inf pc">
								<div class="vc_hd">
									<img src="images/resources/th1.png" alt="">
								</div>
								<form id="formComment">
									<input type="text" name="idvideo" value={{ video.id }} hidden id="idvideo">
									<input type="text" placeholder="Add a public comment" name="contenue" id="contenue">
									<button type="submit" id="comment">Comment</button>
								</form>
								<div class="clearfix"></div>
								<div class="rt-cmt">
									<a href="#" title="">
										<i class="icon-cancel"></i>
									</a>
									<div class="clearfix"></div>
								</div><!--vcp_inf end-->
							</div><!--cmt-bx end-->
							<ul class="cmn-lst" id="commentlist">

								<li hidden id="listComment">
									<div class="vcp_inf">
										<div class="vc_hd">
											<img src="" alt="" id="image">
										</div>
										<div class="coments">
											<h2> <small class="posted_dt" id="timesince">  ago</small></h2>
											<p id="contenue">{{ comment.contenue }} </p>
											<ul class="cmn-i">
												<li>
													<a href="#" title="">
														<i class="icon-thumbs_up"></i>
													</a>
													<span>22</span>
												</li>
												<li>
													<a href="#" title="">
														<i class="icon-thumbs_down"></i>
													</a>
													<span>3</span>
												</li>
											</ul>
										</div><!--coments end-->
									</div><!--vcp_inf end-->
								</li>
								
							{% for comment in video.commenter_set.all %}
								<li>
									<div class="vcp_inf">
										<div class="vc_hd">
											<img src="{{ comment.utilisateur.profilePicture.url }}" alt="">-->
										</div>
										<div class="coments">
											<h2> <small class="posted_dt">{{ comment.date | timesince }}  ago</small></h2>
											<p>{{ comment.contenue }} </p>
											<ul class="cmn-i">
												<li>
													<a href="#" title="">
														<i class="icon-thumbs_up"></i>
													</a>
													<span>22</span>
												</li>
												<li>
													<a href="#" title="">
														<i class="icon-thumbs_down"></i>
													</a>
													<span>3</span>
												</li>
											</ul>
										</div><!--coments end-->
									</div><!--vcp_inf end-->
								</li>

							{% endfor %}
							</ul><!--comment list end-->
						</div>
					</div><!--mn-vid-sc end--->
				</div><!---col-lg-9 end-->
				<div class="col-lg-3">
					<div class="sidebar">
						<div class="vidz-prt">
							<h2 class="sm-vidz">Similar Videos</h2>
							<h3 class="aut-vid">
								<span>Autoplay </span>
								<label class="switch">
									<input type="checkbox">
								  	<b class="slider round"></b>
								</label> 
							</h3>
							<div class="clearfix"></div>
						</div><!--vidz-prt end-->
						<div class="videoo-list-ab">
							{% for vid in similar_videos %}
							<div class="videoo">
								<div class="vid_thumbainl">
									<a href="{% url 'video' vid.id %}" title="">
										<img src="{{ vid.coverImage.url }}" alt="">
										<span class="vid-time">{{ vid.duree | stime }}</span>
										<span class="watch_later">
											<i class="icon-watch_later_fill"></i>
										</span>
									</a>	
								</div><!--vid_thumbnail end-->
								<div class="video_info">
									<h3><a href="#" title="">{{ vid.nom }}</a></h3>
									<h4><a href="#" title="">{{ vid.owner.username }}</a> <span class="verify_ic"><i class="icon-tick"></i></span></h4>
									<span>{{ vid.user_vue | length }} views .<small class="posted_dt">{{ vid.date | timesince }} ago</small></span>
								</div>
							</div><!--videoo end-->
							{% endfor %}
						</div><!--videoo-list-ab end-->
					</div><!--side-bar end-->
				</div>
			</div>
		</div>
	</section><!--mn-sec end-->



{% endblock content %}


{% block javascript %}

<script src="{% static 'js/comment.js' %}"></script>
<script src="{% static 'js/like.js' %}"></script>
<script src="{% static 'js/suscribe.js' %}"></script>




{% endblock javascript %}
